{% extends 'core/base.html' %}

{% block title %} {{ room.name }} | {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3l lg:text-6xl text-white">{{ room.name }}</h1>
</div>

<div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-fuchsia-700 rounded-xl">
    <div class="chat-messages space-y-3" id="chat-messages">
        {% for message in messages %}
            <div class="p-4 bg-zinc-400 rounded-xl" data-message-id="{{ message.id }}">
                <p class="font-semibold">{{ message.user.username }} - {{ message.timestamp }}</p>
                <p>{{ message.content }}</p>
                
                {% if message.file %}
                    <a href="{{ message.file.url }} " download="{{ message.file.name }}"class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-700"
                    >Download File</a>
                {% endif %}

                {% if message.user == request.user %}
                    <button class="px-1 py-1 rounded-xl delete-button bg-red-400 font-semibold text-black hover:bg-red-600 hover:text-white" data-message-id="{{ message.id }}">Delete</button>
                {% endif %}
            </div>
        {% endfor %}     
    </div>
</div>

<div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <form id="chat-form" class="flex flex-col">
        {% csrf_token %}
        <input type="text" name="content" class="flex-1 mb-3" placeholder="Message..." id="chat-message-input">
        <label for="file-input" class="mb-3 bg-green-300 px-2 py-1 rounded-xl text-black cursor-pointer hover:bg-green-600">
            Upload
            <input type="file" name="file" id="file-input" class="hidden">
        </label>
        <button class="px-5 py-3 rounded-xl text-white bg-purple-500 hover:bg-green-500" id="chat-message-submit">Submit</button>
    </form>
</div>

{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}
<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/' + roomName + '/');

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);

        if (data.message) {
            const serverTimestamp = new Date(data.timestamp);
            const localTimestamp = serverTimestamp.toLocaleString();
            let html = '<div class="p-4 bg-zinc-400 rounded-xl" data-message-id="' + data.message_id + '">';
            html += '<p class="font-semibold">' + data.username + ' - ' + localTimestamp + '</p>';
            html += '<p>' + data.message + '</p>';
            
            if (data.file_data && data.file_data.content) {
                html += '<a href="' + data.file_data.content + '" download="' + data.file_data.name + '">Download File</a>';
            }

            {% if data.deletable and data.username == request.user.username %}
                html += '<button class="px-1 py-1 rounded-xl delete-button bg-red-400 font-semibold text-black hover:bg-red-600 hover:text-white" data-message-id="' + data.message_id + '">Delete</button>';
            {% endif %}
            
            html += '</div>';
            document.querySelector('#chat-messages').innerHTML += html;
            scrollToBottom();
        } else if (data.message_deleted) {
            const deletedMessageId = data.message_deleted;
            const deletedMessageElement = document.querySelector(`[data-message-id="${deletedMessageId}"]`);
            if (deletedMessageElement) {
                deletedMessageElement.parentNode.removeChild(deletedMessageElement);
            }
        } else {
            alert('Some File Recieved on Server! Please Refresh');
        }
    };

    document.getElementById('chat-form').addEventListener('submit', function (e) {
        e.preventDefault();
        const messageInputDom = document.querySelector('#chat-message-input');
        const fileInput = document.querySelector('#file-input');
        const message = messageInputDom.value;
        const file = fileInput.files[0];

        const timestamp = new Date().toISOString();

        const reader = new FileReader();
        reader.onloadend = function () {
            const fileContent = reader.result.split(',')[1];

            const fileData = {
                'content': fileContent || null,
                'name': file.name || null,
            };

            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'room': roomName,
                'timestamp': timestamp,
                'file_data': fileData,
            }));
        };

        if (file) {
            reader.readAsDataURL(file);
        } else {
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'room': roomName,
                'timestamp': timestamp,
                'file_data': {
                    'content': null,
                    'name': null,
                },
            }));
        }

        messageInputDom.value = '';
        fileInput.value = '';
        return false;
    });

    document.querySelector('#chat-messages').addEventListener('click', function (e) {
        if (e.target.classList.contains('delete-button')) {
            const messageId = e.target.dataset.messageId;
            chatSocket.send(JSON.stringify({
                'delete': {
                    'message_id': messageId,
                },
            }));
        }
    });

    function scrollToBottom() {
        const objDiv = document.querySelector('#chat-messages');
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    scrollToBottom();
</script>
{% endblock %}
