<!-- profiles/public_profile.html -->

{% extends 'core/base.html' %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
  <div class="container mx-auto p-4">
    <h2 class="text-3xl font-bold mb-4">{{ user.username }}'s Profile</h2>

    <!-- Display existing profile picture -->
    <h3>Profile Picture</h3>
    {% if user.userprofile.profile_picture %}
      <div class="rounded-full overflow-hidden mb-4 w-32 h-32">
        <img src="{{ user.userprofile.profile_picture.url }}" alt="{{ user.username }}'s Profile Picture" class="w-full h-full object-cover">
      </div>
    {% else %}
      <p>No profile picture available</p>
    {% endif %}    

    <!-- Display specific user details -->
    <h1 class="text-2xl font-semibold">User Details</h1>
    <div class="mb-4">
      <label>Username:</label>
      <p>{{ user.username }}</p>
    </div>

    <div class="mb-4">
      <label>First Name:</label>
      <p>{{ user.first_name }}</p>
    </div>

    <div class="mb-4">
      <label>Last Name:</label>
      <p>{{ user.last_name }}</p>
    </div>

    <!-- You may choose to display other user details here -->

  </div>
{% endblock %}
