{% extends 'core/base.html' %}

{% block title %} Welcome | {% endblock %}

{% block content %}
<div class="relative h-screen w-screen flex flex-col items-center justify-center">
        <div class="p-10 lg:p-20 text-center relative z-10">
        <h1 class="text-3xl lg:text-6xl text-white">Django Sphere</h1>
        <p class="text-white mt-4">This is our college's minor project, and it is in the developing phase.</p>
    </div>
    
    <div class="flex flex-col items-center space-x-4 relative z-10 mt-8">
        {% if request.user.is_authenticated %}
            <div class="flex space-x-4">
                <a href="/rooms" class="text-white hover:text-purple-200 px-5 py-3 rounded-xl">Rooms</a>
                <a href="/logout/" class="text-white hover:text-purple-200 px-5 py-3 rounded-xl bg-purple-600 hover:bg-purple-400">Log out</a>
            </div>
        {% else %}
            <div class="flex space-x-4">
                <a href="/login/" class="text-white hover:text-purple-200 px-5 py-3 rounded-xl">Log in</a>
                <a href="/signup/" class="text-white hover:text-purple-200 px-5 py-3 rounded-xl bg-purple-600 hover:bg-purple-400">Sign up</a>
            </div>
        {% endif %}
        
        <a href="https://github.com/offseckalki/DjangoSphere" target="_blank" class="mt-4 flex items-center px-5 py-3 rounded-xl text-white bg-gray-600 hover:bg-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19s-1.5 2-3 0 0-4 0-4s-1.5-2-3 0-3 4 0 4s1.5 2 3 0 3-4 0-4 1.5-2 3 0 3 4 0 4zM17 19s-1.5 2-3 0 0-4 0-4 1.5-2 3 0 3 4 0 4zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2z"></path>
            </svg>
            GitHub Repo
        </a>
    </div>
</div>
{% endblock %}
